<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Zoogle</title>
	</head>
	<body>
		<!-- ignore this body tag, this just tells the boilerplate where to import components e.g. navbar / footer etc -->

		<!-- anything included in this page will automatically be added to EVERY .ejs page in the views folder -->

		<!-- so only add here if you want it in every page -->
		<div class="message"><%= message %></div>
		<%- include("./nav") %> <%- body %> <%- include("./footer") %>
	</body>
</html>
