<link rel="stylesheet" href="/styles/nav.css">
<header></header>
    <nav>
        <ul class="header-bar">
            <a href="#">About</a>
            <a href="#">Store</a>
        </ul>
        <ul class="header-bar">
            <a href="#">Zoomail</a>
            <a href="#">Images</a>
            <img class="appIcon" src="views\images\appsIcon.JPG" alt="appicon" style="width: 50px ;">
            <button>Sign in</button>  
        </ul>
    </nav>
</header>


<!-- href="http://localhost:3000/api/random"
href="http://localhost:3000/api/all -->
