<link rel="stylesheet" href="/styles/nav.css">
<header></header>
    <nav>
        <ul class="header-bar">
            <a href="/">Home</a>
            <a href="/">About</a>
            <a href="/">Store</a>
        </ul>
        <ul class="header-bar">
            <a href="http://localhost:3000/api/random">Zoomail</a>
            <a href="http://localhost:3000/api/all">Images</a>
            <img class="header-appIcon" src="/images/appsIcon.JPG" alt="appicon" style="width: 50px ;">
            <button>Sign in</button>  
        </ul>
    </nav>
</header>


<!-- href="http://localhost:3000/api/random"
href="http://localhost:3000/api/all -->
