<%- layout("/layouts/boilerplate.ejs") %>

<div class="page-container">
	<% for(let i = 0; i < data.length; i++){ %>
	<div class="card card<%= data[i].id %>">
		<h4 class="card-title"><%= data[i].title %></h4>
		<div class="card-image">
			<img class="page-img" src="<%=data[i].url%>" alt="" />
		</div>
	</div>
	<% } %>
</div>

<script>
	const container = document.querySelector('.page-container');
	for (let i = 0; i < 10; i++) {
		const target = container.children[i];
		target.addEventListener('click', () => {
			location.href = `http://localhost:3000/api/${i}`;
		});
	}
</script>
