<%- layout("/layouts/boilerplate.ejs") %>

<div class="page-container">

    <div class="card">
        <% for(let i = 0; i < data.length; i++){ %>
            <h4 class="card-title"><%= data[i].title %></h4>
            <div class="card-image">
                <img style="width: 100px" src="<%=data[i].url%>" alt="" />
            </div>
            <% } %>
        </div>
    </div>
