<!-- this imports boilerplate from the boilerplate.ejs file in ./layouts -->
<%- layout("./layouts/boilerplate") %>

<!-- header and template stuff in usual html is being brought in from the boilerplate.ejs, so you only need to work on page specific content! -->
<link rel="stylesheet" href="/styles/body.css" />
<main class="page-container">
	<section>
		<div class="zoog-head">
			<p style="color: #4885ed">Z</p>
			<div class="oo">
				<p style="color: #db3236">o</p>
				<p style="color: #f4c20d">o</p>
			</div>
			<p style="color: #4885ed">g</p>
			<p style="color: #3cba54">l</p>
			<p style="color: #db3236">e</p>
		</div>
		<div class="input-container">
			<input class="search-btn" type="text" />
		</div>
		<div class="button-container">
			<a class="btn" href="/api/all">Zoogle Search</a>
			<a class="btn" href="/api/random">Good times</a>
		</div>
	</section>
</main>
