<!-- this imports boilerplate from the boilerplate.ejs file in ./layouts -->
<%- layout("./layouts/boilerplate") %>

<!-- header and template stuff in usual html is being brought in from the boilerplate.ejs, so you only need to work on page specific content! -->

<main>
    <section>
        <h1>Zoogle</h1>
        <div>
            <input type="text">
        </div>
        <div class="button-container">
            <button>Zoogle Search</button>
            <button>Good times</button>
        </div>

    </section>
</main>
