<!-- this imports boilerplate from the boilerplate.ejs file in ./layouts -->
<%- layout("./layouts/boilerplate") %>

<!-- header,nav,footer and template stuff in usual html is being brought in from the boilerplate.ejs, so you only need to work on page specific content! -->

<!-- only have to work on one page, use mock info to fill in for now then ill show you how its populated later -->
<main>lets get the 10 data pages set up here!</main>
