<!-- this imports boilerplate from the boilerplate.ejs file in ./layouts -->
<%- layout("./layouts/boilerplate") %>

<!-- header and template stuff in usual html is being brought in from the boilerplate.ejs, so you only need to work on page specific content! -->

<main>this should be similar to the google page after youve searched</main>
