a {
    margin: 5px;
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
    cursor: pointer;
}

nav {
    display: flex;
    justify-content: space-between;
}

.header-bar{
   display: flex; 
   align-items: center;
}

ul > a, ul > img, ul>button {
    padding: 0.1em;
    margin: 0.5em;
}

.header-appIcon:hover {
    box-shadow: 0 0 10px 0 gainsboro;
    border-radius: 30px;
    cursor: pointer;
}

